h1, h2, h3, h4, h5, h6 {
    font-family: 'Futura', bold;
    font-size: 200px,
}

p {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
}

.header {
    margin-top: 280px;
    margin-bottom: 250px;
    text-align: center;
    background: white;
    color: black;
    font-family: 'Futura', bold;
    font-size: 200px,
}

footer {
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 25px;
    color: black;
    font-family: 'Futura', bold;
}

.footer-text {
    padding-top: 20px;
    color: black;
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-family: 'Futura', bold;
}

/* Center website */
.main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 2px;
}

h1, h2 {
    font-size: 60px;
    word-break: break-all;
    font-family: 'Futura', bold;
}

p {
    font-size: 14px;
}

.row {
    margin: 10px -20px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 20px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 5px;
    align-content: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1400px) {
    .column {
        width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-emphasis-color: black;
}

.button:hover {
    background-color: grey;
    text-decoration-color: grey;
}

.card-title {
    text-align: left;
}

.card-text {
    text-align: left;
}

.navbar {
    margin-left: -200px;
    margin-top: 0px;
    font-family: 'Futura', bold;
    color: black;
}

.navbar-brand {
    font-size: 45px;
    font-family: 'Futura', bold;
}

.nav-item {
    margin-left: 50px;
    margin-right: 5px;
    font-size: 25px;
    font-family: 'Futura', bold;
}

.nav-item2 {
    margin-left: 50px;
    margin-right: 5px;
    font-size: 25px;
    font-family: 'Futura', bold;
}

.nav-item3 {
    margin-left: 55px;
    margin-right: 5px;
    font-size: 25px;
    font-family: 'Futura', bold;
}

.navbar-toggler {
    margin-left: 100px;
    margin-right: 20px;
}

.footer-item1 {
    margin-right: 19px;
    margin-left: 19px;
    color: black;
    font-family: 'Futura', bold;
    font-size: 30px;
}

.footer-item2 {
    margin-right: 19px;
    margin-left: 19px;
    color: black;
    font-family: 'Futura', bold;
    font-size: 30px;
}

.portrait {
    padding-top: 20px;
}